.page-title {
    text-align: center;
    margin-top: 2%;
    color: #1abc9c; /* Teal */
    padding-bottom: 1rem;
}

.card-body {
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    background-color: #1c1c1c; /* Dark grey for the card background */
    color: #1abc9c; /* Teal text color */
}

.card-body i {
    font-size: 48px;
    color: #1abc9c; /* Teal for icons */
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: 500;
    color: #1abc9c; /* Teal for card titles */
    margin-top: 10px;
}

.card.h-100.text-center {
    background-color: #1c1c1c; /* Dark grey for the card background */
    border: 1px solid #1abc9c; /* Teal border */
}

footer {
    display: none;
}

@media (min-width: 768px) {
    footer {
        bottom: 0;
        display: block;
        margin-top: 20px;
        position: fixed;
    }
}