.header-nav {
    display: none;
}

.dropdown {
    display: none;
}

.page-title {
    text-align: center;
    margin-top: 2%;
    color: #1abc9c;
    padding-bottom: 1rem;
}

.card-body {
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    background-color: #1c1c1c;
    color: #1abc9c;
}

.card-body i {
    font-size: 48px;
    color: #1abc9c;
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: 500;
    color: #1abc9c;
    margin-top: 10px;
}

.card.h-100.text-center {
    background-color: #1c1c1c;
    border: 1px solid #1abc9c;
}

footer {
    display: none;
}

.main-space {
    margin-bottom: 60px;
}

.navigation-space {
    position: fixed;
    flex-grow: 0;
    bottom: 0;
    width: 100%;
    background-color: #201d1d;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 100;
}

.nav-link {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.nav-icon {
    font-size: 20px;
}

.nav-link:hover .nav-icon {
    filter: brightness(50%);
}

@media (min-width: 598px) {
    .navigation-space {
        display: none;
    }

    .main-space {
        margin-bottom: 100px;
    }
}

@media (min-width: 768px) {
    footer {
        bottom: 0;
        display: block;
        margin-top: 20px;
        position: fixed;
    }

    .header-nav {
        display: flex;
    }
}