.profile-information-container {
    background-color: #333333;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
    display:flex;
    justify-content: space-around;
    border: 2px solid white;
}

.profile {
    max-height: 100px;
}

.posts-container {
    margin: 8px 80px 100px;
    display: FLEX;
    flex-wrap: wrap;
    justify-content: space-around; /* Ensures spacing around items */
    align-items: center; /* Centers items vertically */
}

.post img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio intact */
}


