.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color:white;
}

.card-header{
    color:white;
    background-color:#121212;
}

.card-body {
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
}

.PreviewImage {
    width: 100%;
    height: 500px; 
    border: 3px solid #1abc9c;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    background-color: white;
}

.upload-icon-wrapper {
    margin-bottom: 20px;  
}

.img-fluid {
    width: 100%; 
    height: 100%;
    object-fit: contain; 

}

.nav-link {
    color: white;
}

.page-title {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #1abc9c;
}

.nav-link {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.nav-icon {
    font-size: 20px;
}

.nav-link:hover .nav-icon {
    filter: brightness(50%);
}

.main-space {
    margin-bottom: 100px;
}