.back-button {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.back-button i {
    font-size: 36px;
}

.main-space {
    margin-top: 30px;
}

.page-title {
    text-align: center;
    margin-top: 0;
    font-size: 2.5rem;
}

.webpage-title {
    text-align: right;
}

.help-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
}

.help-topic {
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.help-topic i {
    font-size: 48px;
    color: #1abc9c;
}

.help-topic h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #1abc9c;
}

.help-topic p {
    margin: 0;
    font-size: 1rem;
    color: #cccccc;
}

@media (min-width: 598px) {
    .help-topic {
        flex-direction: row;
    }

    /* .header-space {
        display: none;
    } */
}